{% extends 'base.html.twig' %}

{% block head %}
    <meta charset="UTF-8"/>
    <title>{% block title %} TridomiDesign {% endblock %}</title>
{% endblock %}

{% block body %}

    <div class="container-fluid cntr col-lg-12 col-md-12 col-sm-12">
        <h1> Hello World! </h1>

        <img class="img-responsive img-circle cntr"
             src="{{ asset('bundles/framework/images/index/vector_Tridomi.png') }}" width="250px" height="250px"/>
        <h2>Tristan Mitchell</h2>
    </div>

    <div class="container-fluid cntr">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-6">
                <hr/>
                <h2>About Me</h2>
                <p>I'm a Computer Science graduate based in Southampton, with a keen interest in anything web based.</p>
                <p>This site has been created to keep track of projects that I've completed through uni and beyond.</p>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-6">
                <hr/>
                <h2>Contact Info</h2>
                <div class="well cntr" id="email-well">
                    <span class="glyphicon glyphicon-envelope"></span> tridomi24@gmail.com
                </div>


                <div class="row">
                    <div class="col-lg-6 col-md-3 col-sm-4">
                        <a href="https://github.com/Tridomi24" class="btn btn-default">GitHub</a>
                    </div>
                    <div class="col-lg-6 col-md-3 col-sm-4">
                        <a href="http://www.facebook.com/tristan.mitchell.92" class="btn btn-default">Facebook</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
