{% extends 'base.html.twig' %}

{% block head %}
    <meta charset="UTF-8"/>
    <title>{% block title %} TridomiDesign {% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
{% endblock %}

{% block body %}
    <h1> CV Page! </h1>

{% endblock %}
