{% extends 'base.html.twig' %}

{% block head %}
    <meta charset="UTF-8"/>
    <title>{% block title %} TridomiDesign {% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
{% endblock %}

{% block body %}
    <div class="container-fluid cntr">
        <h1> Projects </h1>
        <h1> UNDER CONSTRUCTION </h1>
    </div>

{% endblock %}
