<!--
    Author: Tristan Mitchell
    Date: 25/06/2016
    Purpose: contains the code for the footer
-->
<div class="container-fluid cntr cntr col-lg-12 col-md-12 col-sm-12">
    <hr/>
    <p>Site Created by Tristan Mitchell 2016</p>
</div>
